@import "tailwindcss";
@config "./tailwind.config.js";

body {
  background-color: #F8F9FA;
  font-family: 'Inter', sans-serif;
  @apply text-gray-900;
}

h1, h2, h3, h4, h5, h6, .font-display {
  font-family: 'Rajdhani', sans-serif;
}

/* Custom Utilities */
.bg-carbon {
  background-color: #111111;
  background-image: radial-gradient(circle at 2px 2px, #1a1a1a 1px, transparent 0);
  background-size: 20px 20px;
}

.bg-metal {
  background: linear-gradient(135deg, #1a1a1a 0%, #0a0a0a 100%);
}

.text-gradient-gold {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-wtech-gold via-yellow-500 to-amber-600;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a0a; 
}
::-webkit-scrollbar-thumb {
  background: #222; 
  border-radius: 4px;
  border: 2px solid #0a0a0a;
}
::-webkit-scrollbar-thumb:hover {
  background: #D4AF37; 
}

/* Leaflet Overrides */
.leaflet-container {
    width: 100%;
    height: 100%;
}

:root {
  --bauhaus-card-bg: #f0f4fb;
  --bauhaus-card-separator: #d3dce8;
  --bauhaus-card-accent: #156ef6;
  --bauhaus-card-radius: 2em;
  --bauhaus-card-border-width: 2px;
  --bauhaus-card-inscription-top: #3b4252;
  --bauhaus-card-inscription-main: #111014;
  --bauhaus-card-inscription-sub: #5e6473;
  --bauhaus-card-inscription-progress-label: #454f55;
  --bauhaus-card-inscription-progress-value: #1c2541;
  --bauhaus-card-progress-bar-bg: #e5e7eb;
  --bauhaus-chronicle-bg: #151419;
  --bauhaus-chronicle-fg: #fff;
  --bauhaus-chronicle-hover-fg: #fff;
}

.dark {
  --background: #252533;
  --bauhaus-card-bg: #151419;
  --bauhaus-card-separator: #2F2B2A;
  --bauhaus-card-accent: #156ef6;
  --bauhaus-card-radius: 2em;
  --bauhaus-card-border-width: 2px;
  --bauhaus-card-inscription-top: #bfc7d5;
  --bauhaus-card-inscription-main: #f0f0f1;
  --bauhaus-card-inscription-sub: #a0a1b3;
  --bauhaus-card-inscription-progress-label: #b5b6c4;
  --bauhaus-card-inscription-progress-value: #e7e7f7;
  --bauhaus-card-progress-bar-bg: #363636;
  --bauhaus-chronicle-bg: #fff;
  --bauhaus-chronicle-fg: #151419;
  --bauhaus-chronicle-hover-fg: #fff;
}


@keyframes scrolldown {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(100%); }
}

.animate-scrolldown {
    animation: scrolldown 2s cubic-bezier(0.76, 0, 0.24, 1) infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
