@import "tailwindcss";
@config "./tailwind.config.js";

body {
  background-color: #F8F9FA;
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #ccc; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #D4AF37; 
}

/* Leaflet Overrides */
.leaflet-container {
    width: 100%;
    height: 100%;
}
